<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add new user</title>
</head>
<body>
    <h2>We are glad that your are joining our community</h2>
    <h4>Please fill the following information: </h4>
    <form method="POST" action="/user/new">
        <input name="email" type="email" placeholder="Enter email">
        <input name="username" type="text" placeholder="Enter username">
        <input name="password" type="password" placeholder="Enter password">
        <button>Submit</button>
    </form>
</body>
</html>